/*General*/
body {
	font-family: 'Roboto', sans-serif;
}

.row {
	margin: 0;
}

.container {
	padding: 70px 0;
}

p,
li {
	color: #444;
	font-size: 14px;
}

/*Navbar*/

header,
.navbar {
	background: linear-gradient(135deg, #333333, #0d0d0d);
}

#nav-container {
	padding-top: 0px;
	padding-bottom: 0px;
}

#logo {
	max-width: 385px;
	margin-left: 5px;
}

.navbar-brand {
	padding: 0px;
	color: #FFF;
}

#navbar-links a {
	color: #FFF;
	transition: all 0.2s;
	margin-left: 5px;
}

#navbar-links a:hover {
	color: #65daf9;
	transform: scale(1.2);
}

.nav-link {
	padding: 1rem .8rem;
}

/*Slider*/

#carouselExample .carousel-inner,
#carouselExample .carousel-item {
	height: 90vh;
}

#carouselExample .carousel-caption {
	top: 30%;
}

#carouselExample .carousel-caption h2 {
	font-size: 50px;
	margin-bottom: 30px;
}

#carouselExample .carousel-caption p {
	color: white;
	margin-bottom: 22px;
	font-weight: 300;
	margin-bottom: 100px;
}

.main-btn {
	background-color: #65daf9;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	width: 200px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	transition: all 0.5s;
	border: 3px solid transparent;
}

.main-btn:hover {
	text-decoration: none;
	color: white;
	background-color: transparent;
	border-color: #65daf9;
}


button.active {
	background-color: #65daf9 !important;
}

/* Sobre a empresa*/

#about-area {
	background-color: #f9f9f9;

}

.main-title {
	color: #444;
	margin: 0 0 65px 0;
	font-size: 40px;
	text-align: center;
}

.main-title::after {
	content: "";
	border-top: 2px solid #333333;
	width: 15%;
	position: absolute;
	top: 105%;
	left: 42.5%;
}

.about-title {
	font-weight: bold;
	font-size: 17px;
	color: #444;
	text-transform: uppercase;
}


#about-list {
	list-style: none;
	padding-left: 0%;
}

#about-list li {
	line-height: 30px;
}

#about-list i {
	color: #65daf9;
	margin-right: 15px;
}

/* Serviços */

.service-box {
	text-align: center;
	margin-bottom: 50px;
}


.service-box i,
.service-box h4 {
	transition: all 0.5s;
}

.service-box i {
	font-size: 36px;
	margin-bottom: 20px;
	color: #444;
}

.service-box h4 {
	font-size: 24px;
	margin-bottom: 20px;
}

.service-box:hover>i,
.service-box:hover>h4 {
	color: #65daf9;
	transform: scale(1.2);
}

/* Dados */

.circle-box div {
	padding: 0 20px;
}

.progressbar-text {
	font-weight: bold;
	font-size: 32px;
}

#data-area p {
	color: #FFF;
	text-align: center;
	font-size: 26px;
	margin-top: 20px;
}


#progressA:hover {
	width: 30% !important;

}

#progressA {
	transition: all 1s;
}

#progressB {
	transition: all 1.5s;
}

#progressC {
	transition: all 2s;
}

#progressD {
	transition: all 2.5s;
}

/*card*/
.team-area {
	margin-top: 30px;
}

hr {
	position: relative;
	top: 5px;
	height: 3px;
	background-color: #0d0d0d;
	width: 20%;
	margin-bottom: 50px;
	margin-left: 39.7%;
}

.card-body {
	text-align: center;
}

/*join us*/

#apply-area {
	height: 500px;
}

#apply-area .container-fluid,
#apply-area .row {
	height: 100%;
}

#apply-area .apply-box {
	padding: 70px 50px;
	text-align: center;
}

#company-img {
	background-image: url('../img/empresa.jpg');
	background-size: cover;
	height: 100%;
}

#pattern-img h4,
#pattern-img p {
	color: #FFF;
}

#pattern-img h4 {
	margin-top: 8%;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#pattern-img p {
	margin-bottom: 20px;
}

#apply-btn {
	display: block;
	height: auto;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	background-color: transparent;
	border-color: white;
}

#apply-btn:hover {
	background-color: #65daf9;
}

/*Portfólio*/

.project-box {
	margin-bottom: 30px;
}

#filter-btn-box {
	margin-bottom: 50px;
	text-align: center;
}

#filter-btn-box .filter-btn {
	color: #444;
	border: 1px solid #444;
	background-color: transparent;
	text-transform: none;
	margin:0 15px;
	min-width: 100px;
	width: auto;
	line-height: 40px;
	height: 40px;
	padding: 0 20px;
}

#filter-btn-box .active, #filter-btn-box .filter-btn:hover{
	color: white !important;
	background-color: #65daf9;
	border-color: #65daf9 !important;
}